.bootstrap-style {
  @import (less) "../node_modules/bootstrap/dist/css/bootstrap.css";

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;

  .form-inline .form-group.aaa {
    vertical-align: top;
    margin-left: 5px;
  }

  .svg-browser-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 10px 10px 0px;
  }

  .svg-browser-container .track-label-sidebar {
    flex: 0 1 200px;
    overflow: hidden;
    /*border-right: 1px solid #999; */
    background-color: #f7f7f9;
    padding: 5px;
  }

  .svg-browser-container .track-label-column {
    flex: 0 0 auto;
  }

  .svg-browser-container .track-main-column {
    flex: 1 0 400px;
  }
}
