.bootstrap-style {
  @import (less) "../node_modules/bootstrap/dist/css/bootstrap.css";

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;

  .form-inline .form-group.aaa {
    vertical-align: top;
    margin-left: 5px;
  }

  .svg-browser-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 10px 10px 0px;
  }

  .svg-browser-container .track-label-sidebar {
    flex: 0 1 200px;
    overflow: hidden;
    /*border-right: 1px solid #999; */
    background-color: #f7f7f9;
    padding: 5px;
  }

  .svg-browser-container .track-label-column {
    flex: 0 0 auto;
  }

  .svg-browser-container .track-main-column {
    flex: 1 0 400px;
  }

  .popover {
    border-color: #a2c3da;
    //background-color: #ecf3f7;
    position: relative;
  }

  // .popover.bottom > .arrow {
  //   border-bottom-color: #a2c3da;
  // }
  //
  // .popover.bottom > .arrow:after {
  //   border-bottom-color: #ecf3f7;
  // }

}

body {
  margin: 0;
}


div.gene-search {
  float: right;
  padding: 0.5em;
  margin-right: 0.5em;
  background-color: #999;
  border-radius: 0.5em;
  position: relative;
}

div.gene-search:focus {
  outline: transparent
}

div.gene-search > * {
  margin: 0.5em;
}

div.gene-search > input {
  width: 150px;
}

div.gene-search > ul {
  position: absolute;
  z-index: 100;
  background-color: white;
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  border: 1px solid #999;
  overflow: hidden;
  left: 15px;
  top: 33px;
  width: 150px;
}

div.gene-search > ul > li:hover {
  text-decoration: underline;
}

span {
  margin: 0 0.5em;
}
.fade {
  opacity: 0.5;
}
